<h1 class="heading is-size-4 is-bold">Users<br /></h1>
<ul>
    @if (ViewBag.Users.Count == 0)
    {
        <li>No Users</li>
    }
    @foreach (var user in ViewBag.Users)
    {
        <li>
            @user.FirstName @user.LastName
            <a class="button" asp-action="edit" asp-route-id="@user.Id">Edit</a>
            <a class="button is-danger" asp-action="delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete @user.FirstName @user.LastName?')">Delete</a>
        </li>
    }
</ul>
<a asp-controller="Users" asp-action="Add" class="button is-primary">Add User</a>